/*** AGGIUNGI ***/

#placeholder_copertina {
    padding: 70px 10px 70px 10px;
    cursor: pointer;
}

#immagine_copertina {
    width: 100%;
    cursor: pointer;
}

#carica_foto {
    width: 100%;
}

#carica {
    padding-top: 10vh
}


/*** SCANNER ***/

#scanner {
    display: none;
}
