/*** AGGIUNGI ***/

#placeholder_copertina {
    padding: 70px 10px 70px 10px;
    cursor: pointer;
}

#immagine_copertina {
    width: 100%;
    cursor: pointer;
}

#apri_scanner {
    width: 100%;
}
