/*** SCHEDA ***/

#immagine_copertina {
    width: 100%;
    cursor: pointer;
}

#conferma_modifiche {
    display: none;
}

#recensioni, #posizione {
    width: 100%;
}


/*** MOSTRA FOTO ***/

#mostra_copertina {
    padding-top: 100px;
}

#chiudi_mostra {
    position: fixed;
    top: 60px;
    right: 12px;
}

#sorgente_copertina {
    width: 60%!important;
    max-width: 200px!important;
    margin: auto!important;
}

#copertina_aperta {
    max-height: 500px;
    width: 100%;
}
