/*** SCHEDA ***/

#immagine_copertina {
    width: 100%;
    cursor: pointer;
}

#conferma_modifiche {
    display: none;
}


/*** MOSTRA FOTO ***/

#mostra_copertina {
    padding-top: 100px;
}

#chiudi_mostra {
    position: fixed;
    top: 60px;
    right: 12px;
}

#copertina_aperta {
    max-height: 500px;
    max-width: 100%;
}
