/*** FONTS ***/

i {
    vertical-align: middle;
}


/*** LINKS ***/

a:link, a:visited {
    text-decoration: none;
    color: #2196F3;
}

a:hover, a:active {
    text-decoration: none;
    color: black;
}


/*** HEADER **/

header {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

body {
    padding-top: 60px;
}


/*** INPUTS ***/

input:focus {
    outline: none;
}

input::placeholder {
    opacity: 1;
    color: #989898;
}

#seleziona {
    display: none;
}


/*** BOTTONI ***/

.w3-btn {
    border-radius: 3px;
    box-shadow: 0 4px 6px 1px rgba(0,0,0,0.2);
}

.bottone_circolare {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 55px;
    height: 55px;
    padding-top: 15px;
    padding-left: 15px;
    cursor: pointer;
}

#home {
    cursor: pointer;
}


/*** SPAZIATORI ***/

.vuoto {
    height: 70vh;
}

#errore {
    padding-top: 30vh;
}

#spazio {
    height: 100px;
}

.sfondo_modal {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

#placeholder_copertina {
    padding: 80px 0 80px 0;
    cursor: pointer;
}


/*** CARICAMENTO ***/

#caricamento {
    display: none;
    position: fixed;
    bottom: 0px;
    width: 100%;
    font-size: 12px;
    box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2);
}


/*** COPERTINA ***/

.immagine_copertina {
    width: 100%;
    cursor: pointer;
}

.contenitore_copertina {
    padding: 2px;
}
